body {
  background-color: black !important;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 230px;
}

.container .glass {
  position: relative;
  width: 250px;
  height: 300px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
}

.container:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
  cursor: pointer;
}

.container .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}
.container .glass svg {
  font-size: 2.5em;
  fill: #fff;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.content__title {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}

.title h1 {
  color: white;
  font-family: "Raleway", sans-serif;
}

.card {
  width: 350px;
  height: 300px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: #fffffe;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  place-content: center;
}

.card::before {
  content: "";
  width: 350px;
  height: 100px;
  position: absolute;
  top: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 3px solid #fefefe;
  background: linear-gradient(
    40deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  transition: all 0.3s ease;
}

.card * {
  z-index: 1;
}

.image {
  width: 90px;
  height: 90px;
  background-color: #1468bf;
  border-radius: 50%;
  border: 4px solid #fefefe;
  margin-top: 30px;
  transition: all 0.5s ease;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: all 0.5s ease;
}

.card-info span {
  font-weight: 600;
  font-size: 24px;
  color: #161a42;
  margin-top: 15px;
  line-height: 5px;
}

.card-info p {
  color: rgba(0, 0, 0, 0.5);
}

.button {
  text-decoration: none;
  background-color: #1468bf;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid white;
  transition: all 0.5s ease;
}

.card:hover {
  width: 300px;
  border-radius: 250px;
}

.card:hover::before {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-bottom: none;
  transform: scale(0.95);
}

.card:hover .card-info {
  transform: translate(0%, -15%);
}

.button:hover {
  background-color: #ff6844;
  transform: scale(1.1);
}

.css-1k0i2s9-MuiPaper-root-MuiAppBar-root {
  border: #fff2;
  background: linear-gradient(#fff2, transparent) !important;
}
